

/* Стиль Шапки и Заголовка */
.main-form,
.container > header {
	margin: 0 auto;
	padding: 1em;
}

.container > header {
	text-align: center;
	background: rgb(62, 151, 221);
	color: #fff;
	padding: 3em;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}
.container h3 {font-size: 1.2em; font-weight: 300;opacity: 0.7;color: #fff;margin-left:24px;}
/* Основное содержание */
.main-form {
	max-width: 69em;
}

.column {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 0em 0em;
    min-height: 300px;
	position: relative;
}

.column p {
	font-weight: 400;
	font-size: 1em;
	padding: 0em 2em 0em;
	margin: 0em 0em 5em; 
	text-align: left;
	line-height: 1.5;
	color: black;
} 

/* Стиль верхней навигации */
.nav-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.nav-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.nav-top a:hover {
	color: #e74c3c;
	background: rgba(255,255,255,0.6);
}

.nav-top span.right {
	float: right;
}

.nav-top span.right a {
	float: left;
	display: block;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: rgb(48, 127, 180);
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: rgb(47, 114, 199);
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1em;
	}

/* 	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	} */
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}