.accordion-title {	
	font-family: 'Muli', sans-serif;
	font-size: 14pt;
}

.font-answer {
	font-family: 'Ovo', serif;
}

.font-answer li {
	margin-bottom: 1em;
}

.search-form {
	margin-top: 3em;
	margin-bottom: 1em;
}

.q-top {
	margin-top: 1.5em;
}

.text-author {
	display: inline-block;
	vertical-align: middle;
	font-size:10pt;
	margin-bottom: 1em;
}

a h5 {
	color:#555555;
}

a h5:hover {
	color:#3b3b3b;
	text-decoration: underline;
}

.q-data {
	color:#a1a1a1;
}

.top-bar {
	background: #3b3b3b;
}



.menu-text {
	background: #3b3b3b;
	color:white;
}

.pagination {
	margin-top: 2em;
}

.footer-style {
	margin-top: 2em;
	height: 5.5em;
	background: #a1a1a1;
	text-align: center;	
}

.footer-style p {
	color: #3b3b3b;
	padding-top: 2em;
}

.footer-style a {
	color:white;
}

.footer-style a:hover {
	color:#3b3b3b;
	text-decoration: underline;
}

.show-for-small-only h1 {
	padding-top: 2em;
}