/*Фон для секций*/

body {
  font-family: 'Poppins', sans-serif;
  /*font-family: "Open Sans", Arial, sans-serif;*/
  /*font-weight: 400;*/
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}

.section:first-child {
  	background: rgb(19, 106, 139);
	background: -webkit-linear-gradient(180deg, rgb(19, 106, 139) 0%, rgb(38, 120, 113) 100%);
	background: -o-linear-gradient(180deg, rgb(19, 106, 139) 0%, rgb(38, 120, 113) 100%);
	background: -ms-linear-gradient(180deg, rgb(19, 106, 139) 0%, rgb(38, 120, 113) 100%);
	background: linear-gradient(180deg, rgb(19, 106, 139) 0%, rgb(38, 120, 113) 100%);
}

.section:nth-child(2) {
  background: #222222;
}

.section:nth-child(3) {
  	background: linear-gradient(to top left, powderblue, pink);
}

.section:nth-child(4) {
  background: #466368;
  background: linear-gradient(to right bottom, #648880, #293f50);
}

.section:last-child {
  	background: #093028;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/*Меню*/
.navbar {
  min-height: 60px;
}

.nav > li > a:focus {
  background: #fff;
}

.menu-top {
	margin-top: 30px;
}

.menu-top-text {
	margin-top: 5px;
}

.navbar-color {
	background-color: rgba(44, 48, 55, .0);
	border-bottom: red;
}

.nav-justified a {
	color: white;
}

.icon-magrin {
	padding-right: 2em;
}

.color-header {
	
	top:100px;
	height: 80px;
	background-color: red;
	z-index: 9999;
}

.item-block {
	color:black;
}