@media (max-width: 575px){
	.page-content .color-wrapper {
	    max-width: 100%;
	    margin: 0 auto;
	}
}

.page-content:before {
	top:0px;
}

.navbar-brand { 
	margin-left: 2em;   
    margin-right: 0rem;    
}