/* ================================================================ 
            Ôàéë ñêà÷àí ñ ñàéòà http://megaweb.su/
=================================================================== */
hr { margin:50px 0; color:#eee; }
ul li.active { /*IE6 hack- hide gooey effect from that browser*/ _visibility: hidden; /*IE6 rule*/ }
ul { z-index:1}



ul.underlinemenu { margin: 0; margin-bottom:1em; padding: 0; list-style: none; position:relative; text-align: left; /*set value to "left", "center", or "right"*/ }
ul.underlinemenu li { display: inline; }
ul.underlinemenu li a { font-family: 'PT Sans', sans-serif; font-weight: 700; font-size: 1.3em; color: #aaadb3; padding: 8px; margin-right: 20px; /*spacing between each menu link*/ text-decoration: none; }
ul.underlinemenu li a:hover {    
    color: #2c2e30; /* Цвет ссылки */ 
   } 
ul.underlinemenu li.active { /*style of LI that gets dynamically added to menu to create background effect*/ position:absolute; width:0; border-bottom:2px solid #2c2e30;}
/* ######### Frame Menu CSS ######### */

@media (max-width: 40.8125em), (max-device-width: 40.8125em) {
    ul.underlinemenu { margin: 2em; margin-bottom: 0; padding: 0; list-style: none; position:relative; text-align: left; /*set value to "left", "center", or "right"*/ }
	ul.underlinemenu li { display: inline; }
	ul.underlinemenu li a { font-family: 'PT Sans', sans-serif; font-weight: 700; font-size: 0.8em; color: #aaadb3; padding: 8px; margin-right: 20px; /*spacing between each menu link*/ text-decoration: none; }
	ul.underlinemenu li a:hover {    
    	color: #2c2e30; /* Цвет ссылки */ 
   } 
	ul.underlinemenu li.active { /*style of LI that gets dynamically added to menu to create background effect*/ position:absolute; width:0; border-bottom:2px solid #2c2e30;}
	/* ######### Frame Menu CSS ######### */
}
