.bg-light {
    background-color: #fff!important;
}

.page-content:before {    
    height: 50px;
    background: #fff;
}

.page-content {
    position: relative;
    background: #fff;
    padding-top: 2rem;
}

.shards-landing-page--1 .section-title:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #007bff;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
}

*, ::after, ::before {
    box-sizing: inherit;
}